$primary_color: #AAA;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.navbar {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  color: #3399ff;
  text-decoration: none;
}

.navbar:hover {
  background-color: #bf00ff;
  color: white;
  text-decoration: none;
}

.inline {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding-top: 15px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 85px;
  background-color: #001a66;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}
