<div>
  <h1> <%= @sub.title %></h1>

  <div>
    description:
    <%= @sub.description %>
  </div>

  <%= link_to "Make New Post!", new_post_url %>

  <ul>
    <% @sub.posts.each do |post| %>
      <li><%= link_to post.title, post_url(post) %></li>
    <% end %>
  </ul>



  <h3>Comments</h3>


</div>
