html, body, ul, li, h1, figure {
  border: 0;
  margin: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

}

body {
  background-color: #eee;
}

h1 {
  font-family: 'Candal', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.ttt {
}

.ttt ul {
  margin: 0 auto;
  list-style: none;
  width: 310px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border-left: 10px solid black;
  border-bottom: 10px solid black;
  box-sizing: border-box;
}

.ttt li {
  border-top: 10px solid black;
  border-right: 10px solid black;
  width: 100px;
  height: 100px;
  background-color: #aaa;
  box-sizing: border-box;
}

.ttt li:hover {
  background-color: yellow;
  cursor: pointer;
}

.ttt li.clicked {
  background-color: white;
  font-size: 65px;
  text-align: center;
  padding-top: 20px;
  font-family: 'Orbitron', sans-serif;
}

.ttt li.win {
  background-color: green;
  color: white;
}

.ttt li.lose {
  background-color: white;
  color: red;
}
