.widget {
  border: 1px solid red;
  display: flex;
}

h2 {
  font-size: 36px;
  font-family: 'Quicksand', sans-serif;
  margin: 20px 10px 10px 20px;
}

.tabs {
  width: 240px;
  height: 200px;
}

.tabs-ul {
  width: 200px;
  height: 30px;
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.tabs-li {
  width: 65px;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
}

.tabs-li:first-child {
  border-left: 2px solid black;
}

.tabs-li:last-child {
  border-right: 2px solid black;
}

.tabs-li:hover {
  background-color: black;
  color: white;
}

.tabs-content {
  height: 192px;
  margin: 0 20px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  font-weight: 900;
  background-color: gray;
  color: white;
}
