/* PHASE 1: Header */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #eee;
}

.header {
  background-color: red;
  color: white;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.header a {
  display: block;
  padding: 10px 20px 10px 20px;
}

.header-logo:hover {
  background: #000;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo {
  font-weight: bold;
  float: left;
  border-right: 1px solid #ccc;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background: #000;
}
