<h1>New cat rental</h1>

<form action= <%= cat_rental_requests_url %> method="post">
<label>
  Desired Cat:
  <select name="request[cat_id]">
    <% Cat.all.each do |cat| %>
      <option value= <%= cat.id %> > <%= cat.name %></option>
    <% end %>
  </select>
</label>

<label>
  Desired Start Date:
  <input type="date", name="request[start_date]">
</label>

<label>
  Desired End Date:
  <input type="date", name="request[end_date]">
</label>

<input type="submit" value="Reserve Cat">
</form>
